@use 'base/variables' as *

.footer
    padding-bottom: 50px !important
    position: relative
    z-index: 1
    &__wrap 
        display: flex
        justify-content: space-between
        gap: 45px
    &__logo 
        display: flex
        align-items: center
        gap: 26px
        img 
            width: 308px
            min-width: 308px
            transition: 0.4s filter
        a
            display: flex
            &:hover 
                img
                    filter: brightness(0)
    &__persons 
        display: flex
        gap: 45px
        &-item 
            strong 
                display: block
                margin-bottom: 4px
            span 
                opacity: 0.7